body {
  background-image: url("bg_lp.jpeg");
}
.form-login {
  width: 50vw !important;
  float: right;
}
.label-username {
  position:absolute;
  top: 1px
}
.username-group {
  padding-top: 33px;
  padding-bottom: 16px;
}
.select-role {
  margin-top: 6px
}
.btn-signup {
  margin-top: 10px
}
.accordion-button {
  background-color: #333;
  color: white;
}

.accordion-button[aria-expanded="true"] {
  background-color: #222;
  color: white;
}
.login-icon {
  margin-right: 10px;
}
.accordion-collapse {
  padding: 15px;
}

.accordion-collapse.show {
  display: flex !important;
}
.container-forms {
  margin-top: 25px;
}
.dp_title {
  color: white;
  text-align: center;
  margin-top: 20vh;
 /** transform: translateY(-50%); **/
  background-color: rgba(20, 20, 20, 0.6);
  padding: 5px;
  border-radius: 15px;
}